---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <a class="gpt-title">Gemini Pro</a>
    <a class="gpt-subtitle">对话</a>
  </div>
  <p mt-1 op-60>
    基于Gemini Pro API构建
    <a href="https://github.com/babaohuang/GeminiProChat" class="font-bold">Github原项目</a>
  </p>
</header>
